# Token bot Discord (BẮT BUỘC)
DISCORD_TOKEN=nhập_token_mới_vào_đây

# ID của server chính (tùy chọn)
GUILD_ID=1347141241527341087

# Prefix cho lệnh (tùy chọn)
PREFIX=/*

# Môi trường development/production
NODE_ENV=development

LOG_CHANNEL_ID = 1391903661566988440

CLIENT_ID = 1391897786210979911
